.challengers-display>div:nth-child(even) {
    flex-direction: row-reverse;
}

.challengers-display>div:nth-last-child(1) {
    margin-bottom: 3rem;
}

.container-img {
    position: relative;
    transition: all .3s ease;
}

.container-img img:first-child {
    box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
    transition: all .3s ease;
}

.container-img img:last-child {
    position: absolute;
    bottom: 0;
    left: -10%;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition: all .3s ease;
    opacity: 0;
}

.container-img:hover {
    transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(-30px);
}


.hover-detected:hover~div.disappear {
    display: none !important;
}

.hover-detected:hover~div.card-show {
    display: flex !important;
}


.container-img::before {
    content: '';
    position: absolute;
    border-radius: 4px;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, transparent 10%, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0) 95%);
    opacity: 0;
    transition: all .3s ease;
}

.container-img:hover::before {
    opacity: 1;
}

.container-img:hover img:last-child {
    opacity: 1;
    scale: 1.25;
    transform: perspective(250px) rotateX(-10deg) translateY(0%) translateZ(30px);
}

.hover-btns {
    background-color: transparent;
    transition: all .3s ease;
}

.hover-btns:hover {
    background-color: rgb(var(--bs-rgb)) !important;
    transform: translateY(-5%);
    scale: 1.1;
}

.card-show {
    /* TODO Se debe hacer que haya un botón que muestre que al hacer clic despliegue la información sobre el reto. 
    Además de que haga transiciones más suaves y que todo quede funcionando */
}

label {
    display: flex;
    z-index: 1;
}

#display-hidden:checked~div.card-show {
    display: flex !important;
}

#display-hidden:checked~.disappear {
    display: none!important;
}

#display-hidden:checked~#first-containe>.container-img::before {
    content: '';
    position: absolute;
    border-radius: 4px;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, transparent 10%, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0) 95%);
    opacity: 0;
    transition: all .3s ease;
}