body.body {
    display: initial;
    height: 100vh;
}

.bs-main {
    padding: 0%;
}

.bd-layout {
    display: grid;
    grid-template-areas: "sidebar main";
    grid-template-columns: 1fr 5fr;
    gap: 1rem;
    height: 90vh;
}

.bg-sidebar {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    grid-area: "sidebar";
}

header img {
    filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.25)) drop-shadow(-2px -2px 0px rgba(0, 0, 0, 0.25));
    width: 50px;
    height: 50px;
}

div.bg-main-linear {
    height: max-content;
}

.bg-main-linear {
    background: linear-gradient(-45deg, rgb(9, 178, 145), rgb(0, 179, 88), rgb(0, 143, 53));
}

.btn-contenido {
    height: 38px;
    width: 10rem;
}