main.logInMain {
    position: relative;
    grid-column: 3 / 11;
    grid-row: 3 / 9;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 15px;
    padding: 30px 20px;
    backdrop-filter: blur(10px);
    box-shadow: -1px -1px 0 rgba(255, 255, 255, .8), inset -1px -1px 0 rgba(255, 255, 255, .5);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    color: #fff;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 700;
    height: 5rem;
}

.form label {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: start;
    width: 100%;
    height: 3rem;
    font-size: 1.2rem;
}

.form input:not([type="submit"]) {
    width: 100%;
    height: 3rem;
    border-radius: 5px;
    outline: none;
    /* background: padding-box linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)), border-box linear-gradient(-90deg, rgb(9, 178, 145), rgb(0, 143, 53)); */
    border-bottom: 2px solid;
    padding: 5px;
    font-size: 1rem;
}

.form input:not([type="submit"])::placeholder {
    color: rgb(255, 255, 255)
}

.otherAccions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    font-size: 1rem;
    color: #fff;
}

.otherAccions a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

.otherAccions a:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: width .3s;
}