main.logInMain {
    position: relative;
    grid-column: 3 / 11;
    grid-row: 3 / 9;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 15px;
    padding: 30px 20px;
    backdrop-filter: blur(10px);
    box-shadow: -1px -1px 0 rgba(255, 255, 255, .8), inset -1px -1px 0 rgba(255, 255, 255, .5);
}

.form {
    display: grid;
    grid-template-columns: repeat(8, calc((100% / 8) - 20px));
    grid-template-rows: repeat(12, calc((100% / 12) - 20px));
    gap: 20px;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    color: #fff;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 2 / 4 / 4 / 6;
    text-align: center;
    font-size: 3rem;
    font-family: "NotoSans-ExtraBold";
    height: 5rem;
}

.form label {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: start;
    width: 100%;
    height: 3rem;
    font-size: 1.2rem;
}

.form input:not([type="submit"]) {
    width: 100%;
    height: 3rem;
    border-radius: 5px;
    outline: none;
    /* background: padding-box linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)), border-box linear-gradient(-90deg, rgb(9, 178, 145), rgb(0, 143, 53)); */
    border-bottom: 2px solid;
    padding: 5px;
    font-size: 1rem;
}

.form ::placeholder {
    /* input:not([type="submit"])*/
    color: rgb(255, 255, 255)
}

.otherAccions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    font-size: 1rem;
    color: #fff;
}

.otherAccions a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

.otherAccions a:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

/* en proceso de trabajo */

.containerInputName {
    /* background-color: aqua; 4 / 2 / 6 / 5 */
    position: relative;
    grid-area: 4 / 2 / 6 / 8;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* height: 3rem; */
    gap: 20px;
    font-size: 1rem;
    color: #fff;
}

.sameLine {
    position: relative;
    height: 100%;
    width: 100%;
}

.sameLine>label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sameLine>input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ::placeholder {
    color: transparent;
} */

/* .sameLine {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.sameLine label {
    width: 100%;
    height: 3rem;
    font-size: 1.2rem;
} */

/* .allSpace {
    width: 100%;
} */

#correoContacto {
    grid-area: 6 / 2 / 8 / 8;
}

#comentario {
    grid-area: 8 / 2 / 11 / 8;
}

input[type="submit"] {
    grid-area: 11 / 4 / 12 / 6;
}